C:\Users\sn1079439\Documents\Programação\Screw_Thread_Classification\com_rosca\
C:\Users\sn1079439\Documents\Programação\Screw_Thread_Classification\sem_rosca\
C:\Users\sn1079439\Documents\Programação\Screw_Thread_Classification\background\